<h1>Categorize</h1>
<%= form_for [@kitten, @categorization] do |f| %>

  <% @categorization.errors.full_messages.each do |message| %>
    <div class="errors"><%= message %></div>
    <% end %>

  <%= image_tag @kitten.image, class: "kitten-image" %>
  <%= f.collection_select :category_id, Category.order(:name), :id, :name, prompt: true %>
  <%= f.submit "Add Category", class: "categorization-button" %>
<% end %>